fastapi
uvicorn[standard]
transformers==4.36.2
torchaudio
--extra-index-url https://download.pytorch.org/whl/cpu
pydantic
soundfile
librosa
torch==2.1.2
numpy==1.26.4
python-multipart
# force rebuild

